.app-wrapper {
    position: relative;
    background-color: #eff0f1;
}

.button {
    border-radius: 5px;
    padding: 12px 20px;
    box-sizing: border-box;
    cursor: pointer;
    color: inherit;
    border: none;
    background-color: deepskyblue;
    position: absolute;
    top: -58px;
    left: 20px;
}

.spin-wrapper {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
