.playerWrapper {
  position: relative;
  margin: 13px;
}

.player {
  width: 199px;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(102, 102, 102);
  margin-top: 10px;

  & > p {
    font-size: 20px;
    width: 170px;
  }
}
