.teamWrapper {
  position: relative;
}

.team {
  width: 400px;
  height: 50px;
  border-bottom: 2px solid deepskyblue;
  display: flex;
  justify-content: center;
  align-items: center;
  &:hover {
    background-color: lightgray;
  }
}

